@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');;
* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family: 'Open Sans',
  sans-serif;
}

.App {
  background-color: #111;
  color: whitesmoke;
}
button{
  font-family: inherit;
}
.container{
  max-width: 90rem;
  width: 100%;
  margin: 0 auto;
}